.app-container {
  padding: 10px;
}

.filter-container {
  padding-bottom: 10px;
  text-align: left;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
